<%- include('../partials/head.ejs') %>

  <div class="container py-5">
    <!--Section: Newsfeed-->
    <section style="margin-left: 300px;">
      <div class="card" style="max-width: 42rem">
        <div class="card-body">
          <!-- Data -->
          <div class="d-flex mb-3">
            <a href="">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/<%- Math.floor(Math.random() * 10) + 10 %>.webp"
                class="border rounded-circle me-2" alt="Avatar" style="height: 40px" />
            </a>
            <div>
              <a href="" class="text-dark mb-0">
                <strong>
                  <%= rows[0].name %>
                </strong>
              </a>
              <a href="" class="text-muted d-block" style="margin-top: -6px">
                <small>
                  <% moment(rows[0].createdAt).fromNow() %>
                </small>
              </a>
            </div>
          </div>
          <!-- Description -->
          <div>
            <p>
              <%= rows[0].body %>
            </p>
          </div>
        </div>
        <!-- Media -->
        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/0<%- Math.floor(Math.random() * 10) + 10 %>.webp"
            class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
        <!-- Media -->
        <!-- Interactions -->
        <div class="card-body">
          <!-- Reactions -->
          <div class="d-flex justify-content-between mb-3">
            <div>
              <a href="">
                <i class="fas fa-thumbs-up text-primary"></i>
                <i class="fas fa-heart text-danger"></i>
                <span><%= rows[0].like_count %></span>
              </a>
            </div>
            <div>
              <a href="" class="text-muted">
                <%= rows[0].comments_count %> comments
              </a>
            </div>
          </div>
          <!-- Reactions -->

          <!-- Buttons -->
          <div class="d-flex justify-content-between text-center border-top border-bottom mb-4">
            <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-thumbs-up me-2"></i>Like
            </button>
            <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-comment-alt me-2"></i>Comment
            </button>
            <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-share me-2"></i>Share
            </button>
          </div>
          <!-- Buttons -->

          <!-- Comments -->

          <!-- Input -->
          <div class="d-flex mb-3">
            <a href="">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                alt="Avatar" style="height: 40px" />
            </a>
            <form action="/posts/comments/<%= rows[0].post_id %>" method="post">

              <div class="d-flex flex-column">
                <div class="form-outline w-100">
                  <textarea name="comment" class="form-control" cols="50" id="textAreaExample" rows="2"></textarea>
                  <label class="form-label" for="textAreaExample">Write a comment</label>
                </div>
                <input type="submit" class="btn btn-success my-3">
              </div>

            </form>
            <a href="/posts/comments/<%= rows[0].post_id %>">sdf</a>
          </div>

          <!-- Input -->

          <!-- Answers -->

          <% for (let comment of rows) {%>
            <!-- Single answer -->
            <div class="d-flex mb-3">
              <a href="">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/<%- Math.floor(Math.random() * 10) + 10 %>.webp" class="border rounded-circle me-2"
                  alt="Avatar" style="height: 40px" />
              </a>
              <div>
                <div class="bg-light rounded-3 px-3 py-1">
                  <a href="" class="text-dark mb-0">
                    <strong>Annonymous User</strong>
                  </a>
                  <a href="" class="text-muted d-block">
                    <small>Great Job!</small>
                  </a>
                </div>
                <a href="" class="text-muted small ms-3 me-2"><strong>Like</strong></a>
                <a href="" class="text-muted small me-2"><strong>Reply</strong></a>
              </div>
            </div>

            <% }%>

              <!-- Answers -->

              <!-- Comments -->
        </div>
        <!-- Interactions -->
      </div>
    </section>
    <!--Section: Newsfeed-->
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

  </body>

  </html>